<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
</head>
<body>
    <div id="chat_container">
        <div id="chat_content">
            <div>[BOT]: Hello! How can I help you today?
            </div>
        </div>
        <div id="suggestion_buttons"></div>
        <div class="input_text"></div>
            <input type="text" id="user_message" placeholder="Type your message...">
            <button id="btn_send">Send</button>
        </div>
    </div>
<script>
    function addToChat(content) {
        $('#chat_content').append('<div>' + content + '</div>');
        $('#chat_content').scrollTop($('#chat_content')[0].scrollHeight);
    }

    function sendchat(message) {
        $('#user_message').val('');
        addToChat("[You]: " + message);

        $.ajax({
            type: 'POST',
            url: 'http://127.0.0.1:8080/chat', // Update the URL here
            contentType: 'application/json',
            data: JSON.stringify({"message": message}),
            success: function (data) {
                var bot_response = data[0].text;
                if (data[0].image) {
                    bot_response += '<br><img src="' + data[0].image + '" alt="Image">';
                }
                addToChat("[BOT]: " + bot_response);

                // Remove existing suggestion buttons
                $('#suggestion_buttons').empty();

                // Add buttons for suggestions
                if (data[0].suggestions) {
                    var firstSuggestion = data[0].suggestions.shift(); // Get and remove the first suggestion
                    $('#suggestion_buttons').append('<div class="suggestion_text">' + firstSuggestion + '</div>');
                    data[0].suggestions.forEach(function(suggestion) {
                        $('#suggestion_buttons').append('<button class="suggestion_button">' + suggestion + '</button>');
                    });
                }

                // Attach click event to suggestion buttons
                $('.suggestion_button').click(function() {
                    var user_message = $(this).text();
                    sendchat(user_message);
                });
            }
        });
    }

    $('#user_message').keypress(function (event) {
        var keycode = (event.keyCode ? event.keyCode : event.which);
        if (keycode == '13') {
            sendchat($('#user_message').val());
        }
    });

    $('#btn_send').click(function() {
        sendchat($('#user_message').val());
    });
</script>
</body>
</html>